main{
    position: relative;
    left: 35%;
    border-style: solid;
    background-color:#f7f7a2;
    width: 23%;
    height:55%;
    font-size:22px;
}
p{
    position: relative;
    left: 2px;   
}
#day{
    position: relative;
    left:18%;
    font-size:26px;
}